@page "/"
@rendermode InteractiveServer
<StandaloneCodeEditor CssClass="my_editor" @ref = "editor" ConstructionOptions="EditorConstructionOptions"/> 

<div>
	<button style="text-align"  @onclick = "Compile">Compile</button>
	<WallyInterpreter.Components.FileSystem.LoadButton Editor="editor" ></WallyInterpreter.Components.FileSystem.LoadButton>
	<div>
		<InputText @bind-Value = "FileName" />
		<WallyInterpreter.Components.FileSystem.SaveButton editor="editor" FileName="@FileName" ></WallyInterpreter.Components.FileSystem.SaveButton>
	</div>
</div>


@code
{
	private StandaloneCodeEditor editor = null!;
	private string FileName = "miPrograma";
	private WallyInterpreter.Components.Interpreter.Wally.WallyInterpreter wally = new Interpreter.Wally.WallyInterpreter();
	private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
	{
		return new StandaloneEditorConstructionOptions()
			{
				Language = "WallyDSL",
				AutomaticLayout = true,
				Value = "Spawn(0,0)",
				Theme = "vs-dark",
				BracketPairColorization = new BracketPairColorizationOptions() { IndependentColorPoolPerBracketType = true, Enabled = true },
				CursorBlinking = "smooth",
				CursorStyle = "block",
				Scrollbar = new EditorScrollbarOptions()
				{
					HorizontalHasArrows = true,
					VerticalHasArrows = true,
				}
			};
	}
	private async Task Compile()
	{
		try
		{
			var code = await editor.GetValue();
			wally.Execute(code);
			Console.WriteLine("Compilacion Exitosa");
		}
		catch(Exception ex)
		{
			Console.WriteLine($"Compilacion fallida:{ex.Message} ");
		}
	}
}